<!-- Footer -->
<footer class="container-fluid footer text-center">
  <a href="#"><span>Site Map</span></a>
  <span> | </span>
  <a href="#"><span>Política de Privacidad</span></a>
  <span> | </span>
  <a href="#"><span>Términos de Uso</span></a>
  </br>
  <span class="copyright">Copyright © 2017 Hielo Fiesta | All Rights Reserved</span>
</footer>

{% include js/navigation.js %}
{% include js/main.js %}