<!-- Mobile Navigation -->
<header class="mobile-menu">
  <ul class="navbar-mobile">
    <li class="mobile-nav-title">
      Navegacion
    </li>
    <li class="mobile-nav-item">
      <a href="#banner">Sobre Nosotros</a>
    </li>
    <li class="mobile-nav-item">
      <a href="#products">Productos y Servicios</a>
    </li>
    <li class="mobile-nav-item">
      <a href="#food">Certificación</a>
    </li>
    <li class="mobile-nav-item">
      <a href="#contact">Contacto</a>
    </li>
    <li class="mobile-nav-item social">
      <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    </li>
  </ul>
</header>
