/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Colors
$darkblue: #0f2947;
$blue: #1d5292;
$lightblue: #24869e;
$yellow: #fde15a;
$white: #ffffff;
$lightgray: #eeeeee;
$darkgray: #999999;

// General
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $white;
  line-height: 1.75em;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1em;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 21px;
  font-weight: 400;
  margin: 10px 0;
  padding: 0;
  line-height: 1.25em;
}

h4 {
  font-weight: 700;
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

p {
  margin: 10px 0;
  padding: 0;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.bold {
  font-weight: 700;
}

// Animations
.revealOnScroll {
  opacity: 0;
}

// Buttons
.btn-primary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: $white;
  min-width: 250px;
  border: 2px solid $yellow;
  border-radius: 0;
  margin: 30px 0 0 0;
  padding: 15px 30px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/btn-yellow-hover.svg");
  background-position: 0 60px;
  background-size: 150%;
  background-repeat: repeat-x;
  overflow: hidden;
  cursor: pointer;
  transition: all .75s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $yellow;
    color: $blue;
    background-position: 100% -40px;
  }
}

.btn-secondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: $blue;
  min-width: 250px;
  border: 2px solid $blue;
  border-radius: 0;
  margin: 30px 0 0 0;
  padding: 15px 30px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/btn-blue-hover.svg");
  background-position: 0 60px;
  background-size: 150%;
  background-repeat: repeat-x;
  overflow: hidden;
  cursor: pointer;
  transition: all .75s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $blue;
    color: $white;
    background-position: 100% -40px;
  }
}

.btn-dropdown-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: $white;
  color: $blue;
  padding: 15px 30px;
  border: none;
  border-radius: 0;
  margin-top: 0;
  &:hover,
  &:focus,
  &:active {
    background: $white;
    color: $blue;
    border: none;
  }
}

.btn-dropdown-caret {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: $yellow;
  color: $blue;
  padding: 15px 30px;
  border: none;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
  min-width: 50px;
  margin-top: 0;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    background: $darkblue;
    color: $white;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.half-btn {
  width: 48%;
  min-width: 48%;
}

// Navigation
.navbar {
  background: transparent;
  padding: 0 1rem;
  height: 75px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  .container {
    height: 75px;
    display: flex;
    align-items: center;
  }
  .navbar-brand {
    color: $white;
    font-weight: 700;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 200px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    
    img {
      width: 33%;
      background: #1d5292;
      padding: 20px;
      box-shadow: 0 0 50px #0f2947;
      transition: 0.3s ease;
    }
  }
  .nav-link {
    opacity: 0.5;
    color: $white;
    padding: 0;
    font-weight: 700;
    transition: all 0.3s ease;
    &:hover {
      color: $yellow;
      opacity: 1;
    }
  }
  .active {
    .nav-link {
      opacity: 1;
      color: $yellow;
    }
  }
}

.burger {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 5%;
  width: 75px;
  height: 75px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
	&:hover, &:focus, &:active {
		cursor: pointer;
    outline: none;
	}
}

.isNavOpen {
	overflow: hidden;
}

// Mobile Menu
.mobile-menu {
  position: absolute;
  right: -50%;
  width: 50%;
  height: 100%;
  padding: 50px;
  background: $blue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  ul {
    list-style: none;
    .mobile-nav-title {
      color: $darkgray;
      text-transform: uppercase;
      border-bottom: 1px solid $darkgray;
      padding-bottom: 10px;
      font-size: 14px;
      letter-spacing: 0.25em;
    }
    .mobile-nav-item {
      padding-top: 20px;
      a {
        font-size: 24px;
        color: $white;
        transition: all 0.3 ease;
        font-weight: 700;
        &:hover {
          color: $yellow;
          text-decoration: none;
        }
      }
    }
    .social {
      padding-top: 40px;
    }
  }
}

#page-not-found{
  min-height: 100vh;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/map-pattern-img.jpg) repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
  a{
    color: white;
  }
  
  .logo img{
    max-height: 300px;
  }
}