// Banner
.banner {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/banner-img.jpg') no-repeat center center;
  background-size: cover;
  min-height: calc(100vh - 250px);
  margin-top: -75px;
  padding: 150px 0 75px 0;
}

// Products
.products {
  .product {
    min-height: 200px;
  }
  .small-bag {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/small-bag-img.jpg') no-repeat;
    background-size: 200%;
    background-position: center 25%;
    transition: all 1s ease;
    &:hover {
      background-size: 250%;
    }
  }
  .large-bag {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/large-bag-img.jpg') no-repeat;
    background-size: 200%;
    background-position: 30% 70%;
    transition: all 1s ease;
    &:hover {
      background-size: 250%;
    }
  }
  .ice-block {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/ice-block-img.jpg') no-repeat;
    background-size: 170%;
    background-position: center 10%;
    transition: all 1s ease;
    &:hover {
      background-size: 220%;
    }
  }
  .shaved-ice {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/ice-shaved-img.jpg') no-repeat center center;
    background-size: 170%;
    transition: all 1s ease;
    &:hover {
      background-size: 220%;
    }
  }
}

// Routes
.popover {
  top: 1.5% !important;
  padding: 10px 30px;
  background: $yellow;
  border: none;
  border-radius: 0;
}

.popover.bs-tether-element-attached-bottom::after, .popover.popover-top::after {
  border-top-color: $yellow;
}

.popover.bs-tether-element-attached-bottom::before, .popover.popover-top::before {
  border-top-color: transparent;
}

.popover-title {
  margin: 0;
  padding: 0;
  color: $darkblue;
  background: transparent;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
}

.popover-content {
  padding: 0;
  margin: 0;
}

.routes {
  min-height: 600px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/map-pattern-img.jpg') repeat;
  padding: 75px 0;

  .vector-map {
    margin-top: 30px;
    position: relative;

    .map-marker {
      position: absolute;
      width: 4%;
      z-index: 1;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover, &:active, &:focus {
        transform: scale(1.2, 1.2);
        outline: none;
      }
    }
    .cocle {
      top: 40%;
      left: 43%;
    }
    .colon {
      top: 6%;
      left: 53%;
    }
    .chiriqui {
      top: 41%;
      left: 10.5%;
    }
    .herrera {
      top: 66%;
      left: 38.5%;
    }
    .los-santos {
      top: 80%;
      left: 45%;
    }
    .panama {
      top: 14%;
      left: 60%;
    }
    .panama-oeste {
      top: 27%;
      left: 52%;
    }
    .veraguas {
      top: 54%;
      left: 32.5%;
    }

    .map-path {
      position: absolute;
      left: 0;
      top: 10%;
      width: 75%;
      height: 75%;
    }

    .vector-path {
      stroke: $yellow;
      stroke-width: 2;
      fill: none;
      stroke-dasharray: 10;
      animation: dash 10s linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

// Food
.food {
  min-height: 400px;
  background-color: #24869e;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/ice-is-food-img.jpg);
  background-position: right;
  padding: 75px 0;
}

// Google Map
.google-map {
  background: $blue;
  position: relative;

  .map-left {
    z-index: 999;
    min-height: 250px;
    &:before {
      content: "";
      position: absolute;
      background: $blue;
      width: 10%;
      height: 100%;
      top: 0;
      right: -10%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
      clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%);
    }
    .container {
      padding: 75px 0;
    }
  }

  .map-right {
    padding: 0;
    min-height: 300px;
  }

  .row {
    height: 100%;
  }

  #googleMap {
    height: 100%;
    width: 100%;
  }
}

.dropdown {
  position: absolute;
  bottom: -25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.map-dropdown {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  border: none;
  background: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  .title {
    padding: 10px 20px;
    background: $darkblue;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  a {
    padding: 10px 20px;
    text-transform: none;
    color: $blue;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background: $yellow;
      color: $blue;
    }
  }
}

// Numbers
.numbers {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/numbers-img.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 200px;
  padding: 75px 0;
}

// Contact
.contact {
  padding: 75px 0;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/contact-pattern-img.jpg') repeat;
  .contactos, .mensaje {
    margin-top: 20px;
  }
  .contact-block {
    margin-top: 20px;
  }
  form {
    margin-top: 10px;
  }
  .form-group {
      margin: 20px 0 0 0;
      .form-control {
        font-size: 16px;
        color: $blue;
        border-radius: 0;
        border: 2px solid $blue;
        padding: 15px;
        background: transparent;
        &:focus {
          box-shadow: none;
          -webkit-box-shadow: none;
        }
        &::-webkit-input-placeholder {
          color: $blue;
        }
        &::-moz-placeholder {
          color: $blue;
        }
        &:-ms-input-placeholder {
          color: $blue;
        }
        &::-webkit-input-placeholder {
          color: $blue;
        }
      }
      .message-text {
        padding: 15px;
      }
    }
}

// Footer
.footer {
  font-size: 14px;
  padding: 20px 0;
  background: $darkblue;
  a {
    color: $lightgray;
    &:hover, &:focus, &:active {
      color: $yellow;
      text-decoration: none;
    }
  }
  .copyright {
    color: $darkgray;
  }
}

// Wrappers
.outer-wrapper {
  overflow: hidden;
  position: relative;
}

.inner-wrapper {
  right: 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggled-menu {
  right: 0;
}

.toggled-body {
  right: 50%;
}

// Bounce + In-View
.animation-element {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}