// Media Queries
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .navbar .container {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .products .product {
    min-height: 250px;
  }

  .outer-wrapper {
    overflow: visible;
  }

  .mobile-menu {
    display: none;
  }

  .buttons {
    display: block;
  }
  
  .map-dropdown {
    justify-content: flex-start;
  }

  .dropdown {
    position: relative;
    bottom: 0;
    display: block;
    box-shadow: none;
  }

  .btn-dropdown-text,
  .btn-dropdown-caret {
    margin-top: 30px;
  }

  .google-map {
    .map-left {
      .container {
        padding: 75px 100px;
      }
    }
  }
  
  .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group, .btn-group-vertical .btn+.btn, .btn-group-vertical .btn+.btn-group, .btn-group-vertical .btn-group+.btn, .btn-group-vertical .btn-group+.btn-group {
    margin-left: -4px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}