<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- home body -->
    <main class="home ">
      
      <!-- Inner Wrapper -->
      <div class="outer-wrapper">
        
        {% include header.html %}
        
        <!-- Inner Wrapper -->
        <div class="inner-wrapper">
          
          <!-- Navigation -->
          <nav class="navbar navbar-toggleable-md sticky-top">
            <div class="container">
              
              <button class="navbar-toggler navbar-toggler-right collapsed burger" type="button">
                <svg id="burger-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                  <title>Show / Hide Navigation</title>
                  <g class="burger-svg__bars" fill="#fff">
                    <rect class="burger-svg__bar burger-svg__bar-1" x="14" y="18" width="22" height="2"/>
                    <rect class="burger-svg__bar burger-svg__bar-2" x="14" y="24" width="22" height="2"/>
                    <rect class="burger-svg__bar burger-svg__bar-3" x="14" y="30" width="22" height="2"/>
                  </g>
                </svg>
              </button>
              
              <a class="navbar-brand" href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/logo-full.png"/></a>
              
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#banner">Sobre Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#products">Productos y Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#food">Certificación</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          
          <!-- Banner -->
          <div class="container-fluid banner d-flex flex-column justify-content-center align-items-center text-center" id="banner">
            <div class="container">
              <div class="col-12 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                <h1>Somos Hielo Fiesta.</h1>
              </div>
              <div class="col-12 col-lg-8 offset-lg-2 revealOnScroll" data-animation="fadeInUp" data-timeout="200">
                <h3>Con más de 75 años de experiencia, nuestra misión es ofrecer el mejor
                  producto, servicio, y distribución para nuestros clientes a nivel nacional.</h3>
                </div>
                <button class="btn btn-primary revealOnScroll" data-animation="fadeInUp" data-timeout="400">Más información</button>
              </div>
            </div>
            
            <!-- Products -->
            <div class="container-fluid products text-center" id="products">
              <div class="row">
                <div class="col-lg-3 col-sm-6 flex-first product small-bag d-flex flex-column justify-content-center align-items-center">
                  <h4 class="revealOnScroll" data-animation="fadeIn" data-timeout="600">Bolsa de Hielo</h4>
                  <h2 class="revealOnScroll" data-animation="fadeIn" data-timeout="600">8.5 lbs.</h2>
                </div>
                <div class="col-lg-3 col-sm-6 product large-bag d-flex flex-column justify-content-center align-items-center">
                  <h4 class="revealOnScroll" data-animation="fadeIn" data-timeout="700">Bolsa de Hielo</h4>
                  <h2 class="revealOnScroll" data-animation="fadeIn" data-timeout="700">40 lbs.</h2>
                </div>
                <div class="col-lg-3 col-sm-6 flex-last product ice-block d-flex flex-column justify-content-center align-items-center">
                  <h4 class="revealOnScroll" data-animation="fadeIn" data-timeout="800">Bloque de Hielo</h4>
                  <h2 class="revealOnScroll" data-animation="fadeIn" data-timeout="800">330 lbs.</h2>
                </div>
                <div class="col-lg-3 col-sm-6 flex-lg-last product shaved-ice d-flex flex-column justify-content-center align-items-center">
                  <h4 class="revealOnScroll" data-animation="fadeIn" data-timeout="900">Hielo Molido</h4>
                  <h2 class="revealOnScroll" data-animation="fadeIn" data-timeout="900">para mariscos</h2>
                </div>
              </div>
            </div>
            
            <!-- Routes -->
            <div class="container-fluid routes d-flex flex-column justify-content-center align-items-center text-center">
              <div class="container d-flex flex-column justify-content-center align-items-center">
                <div class="col-12 revealOnScroll" data-animation="fadeInUp" data-timeout="200">
                  <h2>El Mejor Servicio de Distribución a Nivel Nacional</h2>
                </div>
                <div class="col-lg-8 revealOnScroll" data-animation="fadeInUp" data-timeout="400">
                  <p class="yellow">Gracias a nuestro sistema de ruteo completamente computarizado, nuestros clientes a través de 8 provincias siempre pueden contar con una entrega de alta calidad, eficaz, y puntual.</p>
                </div>
                <div class="col-lg-10 vector-map revealOnScroll" data-animation="fadeInUp" data-timeout="600">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map.svg" />
                  <a tabindex="0" class="map-marker chiriqui" role="button" data-toggle="popover" data-trigger="focus" title="Chiriqui" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <a tabindex="0" class="map-marker cocle" role="button" data-toggle="popover" data-trigger="focus" title="Cocle" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <a tabindex="0" class="map-marker colon" role="button" data-toggle="popover" data-trigger="focus" title="Colon" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <a tabindex="0" class="map-marker herrera" role="button" data-toggle="popover" data-trigger="focus" title="Herrera" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <a tabindex="0" class="map-marker los-santos" role="button" data-toggle="popover" data-trigger="focus" title="Los Santos" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <a tabindex="0" class="map-marker panama" role="button" data-toggle="popover" data-trigger="focus" title="Panama" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <a tabindex="0" class="map-marker panama-oeste" role="button" data-toggle="popover" data-trigger="focus" title="Panama Oeste" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <a tabindex="0" class="map-marker veraguas" role="button" data-toggle="popover" data-trigger="focus" title="Veraguas" data-placement="top">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/347185/panama-map-marker.svg" />
                  </a>
                  <svg class="map-path" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 265.2 158.5"><path class="vector-path" d="M115.1,103.7l36.2,27.9l28.8,26.5 M0.1,77.1l114.9,26.6l59.2-30.3l47.3-26.2l42.6-29.5L225.5,0.7"></path></svg>
                </div>
              </div>
            </div>
            
            <!-- Food -->
            <div class="container-fluid food" id="food">
              <div class="container">
                <div class="row">
                  <div class="col-5 hidden-md-down revealOnScroll" data-animation="fadeInLeft" data-timeout="400">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/dQ4JR_0Txec?wmode=opaque" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 offset-lg-1">
                    <h2 class="revealOnScroll" data-animation="fadeInRight" data-timeout="400">Dedicados a ofrecer un producto que excede las regulaciones internacionales de sanidad.</h2>
                    <p class="revealOnScroll" data-animation="fadeInRight" data-timeout="600">Somos la única fábrica de hielo en la Ciudad de Panamá con Certificado de Acreditación de Control de Calidad Standard Plus (PIQCS PLUS) de la Asociación Americana de Hielo Empacado.</p>
                    <div class="buttons revealOnScroll" data-animation="fadeInRight" data-timeout="800">
                      <button class="btn btn-primary half-btn">Más información</button>
                      <button class="btn btn-primary hidden-lg-up half-btn">Ver el video</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Google Map -->
            <div class="container-fluid google-map">
              <div class="row">
                <div class="col-12 col-lg-6 map-left">
                  <div class="container">
                    <h2 class="revealOnScroll" data-animation="fadeInLeft" data-timeout="400">Encuentra Nuestras
                      Fábricas y Cuartos Fríos</h2>
                      <p class="revealOnScroll" data-animation="fadeInLeft" data-timeout="600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies at odio a volutpat. Nullam id erat ultrices lacus ornare ullamcorper vel eget risus. Nullam cursus, leo quis fermentum vehicula, nibh quam luctus mauris, et tincidunt
                        turpis nulla non nisi.</p>
                        <div class="map-dropdown revealOnScroll" data-animation="fadeInLeft" data-timeout="800">
                          <div class="btn-group dropdown">
                            <button type="button" class="btn btn-dropdown btn-dropdown-text">Fabrica - Panama</button>
                            <button type="button" class="btn btn-dropdown btn-dropdown-caret dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span   class="sr-only">Toggle Dropdown</span>
                              </<button></button>
                              <div class="dropdown-menu">
                                <span class="dropdown-item title">Cuartos Fríos</span>
                                <a class="dropdown-item cf">Chorrera</a>
                                <a class="dropdown-item cf">Gorgona</a>
                                <a class="dropdown-item cf">San Carlos</a>
                                <a class="dropdown-item cf">Rio Hato</a>
                                <a class="dropdown-item cf">Anton</a>
                                <a class="dropdown-item cf">Colon</a>
                                <a class="dropdown-item cf">Panama</a>
                                <span class="dropdown-item title">Fabricas</span>
                                <a class="dropdown-item fab">Panama</a>
                                <a class="dropdown-item fab">Chorrera</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 map-right">
                        <div id="googleMap"></div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Numbers -->
                  <div class="container-fluid numbers text-center">
                    <div class="container">
                      <div class="row">
                        <div class="col revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                          <h4 class="yellow counter-value" data-count="150">150</h4>
                          <h3>Colaboradores</h3>
                        </div>
                        <div class="col revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                          <h4 class="yellow counter-value" data-count="2">2</h4>
                          <h3>Plantas de Hielo</h3>
                        </div>
                        <div class="col revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                          <h4 class="yellow counter-value" data-count="63">63</h4>
                          <h3>Camiones</h3>
                        </div>
                        <div class="col revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                          <h4 class="yellow counter-value" data-count="7">7</h4>
                          <h3>Cuartos Fríos</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Contact -->
                  <div class="container-fluid contact blue text-center" id="contact">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 revealOnScroll" data-animation="fadeInUp" data-timeout="400">
                          <h1>Estamos a su Disposicion</h1>
                        </div>
                        
                        <div class="col-12 col-md-4 contactos revealOnScroll" data-animation="fadeInLeft" data-timeout="800">
                          <h2>Contactanos</h2>
                          <div class="row">
                            <div class="contact-block col-12">
                              <span class="bold">Dirección</span>
                            </br>
                            <span>Cl C La Esperanza</span>
                            <br class="hidden-sm-down">
                            <span>Panamá, Panamá</span>
                          </div>
                          <div class="contact-block col-4 col-md-12">
                            <span class="bold">Teléfono</span>
                          </br>
                          <span>230-1600</span>
                        </div>
                        <div class="contact-block col-4 col-md-12">
                          <span class="bold">Fax</span>
                        </br>
                        <span>230-1534</span>
                      </div>
                      <div class="contact-block col-4 col-md-12">
                        <span class="bold">Celular</span>
                      </br>
                      <span>6233-3655</span>
                    </div>
                    <div class="contact-block col-12">
                      <span class="bold">Correo Electrónico</span>
                    </br>
                    <span>ventas@hielofiesta.com</span>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-md-8 mensaje revealOnScroll" data-animation="fadeInRight" data-timeout="800">
                <h2>Déjanos un Mensaje</h2>
                <form>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" class="form-control" id="first-name" placeholder="Nombre">
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="text" class="form-control" id="last-name" placeholder="Apellido">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electrónico">
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="number" class="form-control" id="phone" placeholder="Teléfono">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <textarea class="form-control message-text" rows="8" placeholder="Mensaje..."></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-button">
                      <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        {% include footer.html %}
        
        <!-- Inner Wrapper -->
      </div>
      
      <!-- Outer Wrapper -->
    </div>
    
  </main>

    {% include footer.html %}

  </body>

</html>
