---
layout: default
custom_js:
- js/main
categories: Javascript
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
{% for js in page.custom_js %}
  <script type="text/javascript">
     {% include {{ js }} %}
  </script>
{% endfor %}